<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
    <style>
      body{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
  <form>
      <div class="g-recaptcha" id="c" data-sitekey="6LeWwRkUAAAAAOBsau7KpuC9AV-6J8mhw4AjC3Xz" data-callback="yes"></div>
  </form>
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
 </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

  const remote = require('electron').remote
  const ipcRenderer = require('electron').ipcRenderer;

  function yes(callback) {

    return new Promise(

      (resolve, reject) => {

        console.log(callback);
        ipcRenderer.send('captcha-incoming', {captcha: callback, task_id: remote.getCurrentWindow().task_id});
        console.log("heyyy");
        grecaptcha.reset();

      }

    )

  }

</script>
</body>
</html>
