<!DOCTYPE html>
<html>
  <title> Create a task </title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="fontawesome/css/all.css" rel="stylesheet" type="text/css">
  <body style="overflow-x: hidden;">
    <div class="sider small grey">
      <div class="icon d" id="create"> <p class="label"> Create </p> <i class="fas fa-plus"></i> </div>
    </div>
    <div class="container">
      <div class="header">
        <h1> New task </h1>
        <h2 class="thin">Fill out with your item info</h2>
      </div>
      <div class="task-info" id="billing">
        <input type="text" placeholder="Item name" id="task-item-name" style="width: calc(100% - 60px)">
        <div class="chooser" style="margin-top: 20px; margin-bottom: 20px; margin-left: 0; justify-content: center;">
          <div class="item-picker" value="Jackets"> Jacket </div>
          <div class="item-picker" value="Shirts"> Shirt </div>
          <div class="item-picker" value="Tops/Sweaters"> Top/Sweater </div>
          <div class="item-picker" value="Sweatshirts"> Sweatshirt </div>
          <div class="item-picker" value="Pants"> Pants </div>
          <div class="item-picker" value="T-shirts"> T-shirt </div>
          <div class="item-picker" value="Hats"> Hat </div>
          <div class="item-picker" value="Bags"> Bag </div>
          <div class="item-picker" value="Accessories"> Accessory </div>
          <div class="item-picker" value="Skate"> Skate </div>
        </div>
        <input type="text" placeholder="Item color" id="task-item-color" style="width: calc(100% - 60px)">
        <div class="chooser" style="margin-top: 20px; margin-bottom: 20px; margin-left: 0; justify-content: center;">
          <div class="size-picker" value="n/a"> N/A </div>
          <div class="size-picker" value="Small"> S </div>
          <div class="size-picker" value="Medium"> M </div>
          <div class="size-picker" value="Large"> L </div>
          <div class="size-picker" value="XLarge"> XL </div>
        </div>
        <select id="profiles">
        </select>
      </div>
    </div>
  </body>
</html>
<script> require("../lib/ipc/task.js") </script>
